*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
    background: #212121;
    color: #40ebd4;
}
button{
    background: #40ebd4;
    border-color: #000;
    border-radius: 9px;
    padding: 3px;
}
.codeButton:disabled{
    background: #637673;
    color: #4b2f2f;
}
input{
    background: #40ebd4;
    border-color: #40ebd4;
    color: black;
    border-radius: 9px;
    padding: 3px;
}
.heading{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: xx-large;
}
.div1, .div2{
    color: rgb(180, 126, 0);
}